<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">This is the place where you can see/comment/upload the campground choices in the world!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">See All Campgrounds</a>
    </div>
</div>


<% include partials/footer %>